<h3>プロフィール編集</h3>
<%= form_with model: @customer, url: customer_path do |f| %>
  <div>
    <%= f.label :last_name,"氏名",class: "col-md-2 mt-4" %>
    <%= f.text_field :last_name,class: "form-control-sm mr-5" %>
    <%= f.text_field :first_name,class: "form-control-sm" %>
  </div>
  <div>
    <%= f.label :last_name_kana,"フリガナ",class: "col-md-2" %>
    <%= f.text_field :last_name_kana,class: "form-control-sm mr-5 mt-3" %>
    <%= f.text_field :first_name_kana,class: "form-control-sm" %>
  </div>
  <div>
    <%= f.label :email,"メールアドレス",class: "col-md-2" %>
    <%= f.text_field :email,class: "form-control-sm mt-3" %>
  </div>

  <div>
    <%= f.label :image,"写真",class: "col-md-2" %>
    <%= f.file_field :profile_image,class: "form-control-sm mt-3", accept: "image/*" %>
  </div>

  <div>
    <%= f.submit "変更を保存", class: "btn btn-sm btn-success" %>
    <%= link_to "退会する", customer_path(current_customer.id), method: :delete, "data-confirm" => "本当に退会しますか？", class: "btn btn-sm btn-danger" %>
  </div>


<% end %>