<div class="container mt-5 ">
  <div class="row">
    <div class="col-10 offset-1 text-center border border-secondary bg-light shadow-lg p-3 rounded">
      <h5>投稿編集</h5>
      <%= render 'layouts/errors', obj: @post %>
      <%= form_with model: @post, url: post_path(@post.id), method: :patch do |f| %>
      <div class="form-group mt-5 col-8 offset-2">
        <%= f.text_field :title, :placeholder => "タイトル", class: "form-control form-control-sm" %>
      </div>
      <div class="form-group mt-5 col-8 offset-1">
        <%= f.file_field :images, multiple: true, accept: "image/*" %>
      </div>
      <div class="form-group mt-5 col-8 offset-2">
        <%= f.text_area :body, :placeholder => "投稿内容", class: "form-control form-control-lg" %>
      </div>
      <div>
        <%= f.submit '編集内容を保存', class: "mt-4 btn btn-sm btn-secondary mr-4" %>
        <%= link_to "詳細画面に戻る", post_path(@post.id), class: "mt-4 btn btn-sm btn-secondary ml-4" %>
      </div>
      <% end %>
    </div>
  </div>
</div>