<div class="container mt-5 ">
  <div class="row">
    <div class="col-md-8 offset-md-2 border border-secondary shadow-lg p-3 rounded" style="background-color:#D0C1C2;">
    <% if customers.exists? %>
    <% customers.each do |customer| %>
    <table class="table table-hover">
      <tbody>
        <tr>
          <td><%= image_tag customer.get_profile_image(100,100), class: "rounded-circle" %></td>
          <td>
            <%= link_to customer_path(customer.id) do %>
            <%= customer.full_name %>
            <% end %>
          </td>
          <td>フォロー数: <%= customer.followings.count %></td>
          <td>フォロワー数: <%= customer.followers.count %></td>
        </tr>
      </tbody>
    </table>
    <% end %>
    <% else %>
    <p>ユーザーはいません</p>
    <% end %>
    </div>
  </div>
</div>