<!--いいね機能-->
<% if post.favorited_by?(current_customer) %>
    <div>
      <%= link_to post_favorites_path(post), method: :delete, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true" style="color: red;"></i>
        <%= post.favorites.count %>
      <% end %>
      <div class="comments_counter">
        <%= render "public/comments/counter", post: @post %>
      </div>
    </div>
<% else %>
    <div>
      <%= link_to post_favorites_path(post), method: :post, remote: true do %>
        <i class="fas fa-heart" aria-hidden="true"></i>
        <%= post.favorites.count %>
      <% end %>
      <div class="comments_counter">
        <%= render "public/comments/counter", post: @post %>
      </div>
    </div>
  <% end %>