<table class="table table-hover">
  <% post.comments.each do |comment| %>
    <tr>
      <td>
        <%= link_to admin_customer_path(comment.customer) do %>
        <%= image_tag comment.customer.get_profile_image(50,50), class: "rounded-circle" %><br />
        <%= comment.customer.full_name %>
        <% end %>
      </td>
      <td><%= comment.created_at.strftime('%Y/%m/%d') %></td>
      <td><%= comment.comment %></td>
      <td><%= link_to "コメント削除", post_comment_path(comment.post,comment), method: :delete, class: 'btn btn-info rounded-pill', remote: true %></td>
      <td>
        <i class="far fa-clock clock-icon"></i><%= time_ago_in_words(comment.created_at) %>前
      </td>
    <% end %>
    </tr>
</table>