<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-8 offset-md-2 border border-secondary mt-5 shadow-lg p-3" style="background-color:#D0C1C2;">
　　<h3 class="mb-2 text-center"><%= @post.customer.full_name %>さんの投稿詳細</h3>
　　<div><%= @post.title %></div>
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <%= image_tag image.variant(resize_to_limit: [300, 300]) %>
      <% end %>
    <% end %>
    <div class="mt-4 mb-4"><%= @post.body %></div>
    <%= link_to "投稿削除", admin_post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-sm btn-info rounded-pill" %>

　　<!--コメント機能一覧-->
    <div class="comment_index">
      <%= render "admin/posts/index", post: @post %>
    </div>

    </div>
　</div>
</div>
